<form (submit)="dodajMedjeda()">
    <div class="col-md-12" >
      <div class="form-group">
          <label >Ime</label>
          <input [(ngModel)]="noviMedjed.ime" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Ime" />
        </div>
      
        <div class="form-group">
          <label >Kilaza</label>
          <input type="number" [(ngModel)]="noviMedjed.kilaza"  [ngModelOptions]="{standalone: true}"class="form-control" placeholder="Kilaza" />
        </div>
        <div class="form-group">
          <label >Visina</label>
          <input type="number" [(ngModel)]="noviMedjed.visina"  [ngModelOptions]="{standalone: true}"class="form-control" placeholder="Visina" />
        </div>
    
    
    </div>
    
    <button class="btn btn-primary" type="submit">Dodaj</button>
   
   
   </form>