<form (submit)="updejtujMedjeda()">
  <div class="col-md-12">
      <div class="form-group">
          <label>Ime</label>
          <input name="ime" [(ngModel)]="editovaniMedjed.ime" [ngModelOptions]="{standalone: true}" class="form-control" />
      </div>
      <div class="form-group">
          <label>Kilaza</label>
          <input name="kilaza" type="number" [(ngModel)]="editovaniMedjed.kilaza" [ngModelOptions]="{standalone: true}" class="form-control" />
      </div>
      <div class="form-group">
          <label>Visina</label>
          <input name="visina" type="number" [(ngModel)]="editovaniMedjed.visina" [ngModelOptions]="{standalone: true}" class="form-control" />
      </div>
  </div>
  
  <button class="btn btn-primary" type="submit">Sacuvaj</button>
</form>